body,
html {
    margin: 0;
    background-color: rgb(101, 96, 96);
}
header {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}
main {
    margin: 1%;
}

* {
    font-family: 'Calibri';
}
h1 {
    color: aqua;
}
h2 {
    color: aqua;
}
